

    {%include "head.html"%}
    <body id="page-top">


        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <span><img class="profile_pic" src="/static/ryan_twemlow.jpeg"></span>
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0" id="title-header-main" style="padding-top: 60px; color: #EB6440">About Me</h1>
                <!-- Icon Divider-->

            </div>
        </header>


        <!-- About Section-->
        <section class="page-section about-me text-white mb-0" id="about">
            <div class="container" style="width: 80%;">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">Ryan Twemlow</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row" style="text-align: center;">
                    <div class="col-lg-12 ms-auto"><p class="lead">Hi there! My name is Ryan Twemlow and I am the creator of Quizz, a start-up that uses artificial intelligence to generate quizzes for students and teachers. I created Quizz because I was tired of struggling to find good quizzes or make my own to use for studying. I wanted to create a platform that would allow users to easily create and take quizzes on any topic.</p></div>
                </div>
                <!-- About Section Button-->

            </div>
        </section>


        <!-- Footer-->
        {%include "footer.html"%}


    </body>

