{%include "head.html"%}
        <!-- Masthead-->
        <header class="masthead text-white text-center">
            <div class="container d-flex align-items-center flex-column">

                <h1 style="color: #497174; font-family: Montserrat">Your Quiz is being</h1>
                <h1 style="color: #EB6440; font-family: Montserrat">Generated!</h1>

                <div class="divider-custom divider-light" style="color: #497174;">
                    
                    <img src="/static/assets/loading_animation.gif" style="width: 125px;">

                </div>

                <a class="btn-xl btn" style="background-color: #EB6440; color: white; width: 200px;" href="{{url_for('dashboard')}}">Return Home</a>

             </div>
        </header>

{%include "footer.html"%}

